<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <title>Playlists</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css"/>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/owl-carousel/1.3.3/owl.carousel.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/owl-carousel/1.3.3/owl.theme.min.css">

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

    <script type="text/javascript" src="https://code.jquery.com/jquery-1.12.0.min.js"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/owl-carousel/1.3.3/owl.carousel.min.js"></script>

    <link rel="stylesheet" th:href="@{/css/playlist.css}"/>
    <script th:src="@{/js/playlist.js}"></script>
</head>
<body>
<nav class="navbar navbar-inverse" style="margin-left: 20px; margin-right: 20px">
    <div class="container-fluid">
        <div class="navbar-header">
            <a class="navbar-brand" style="font-family: 'sans-serif'" href="#">Youtube Videos</a>
        </div>
        <div class="nav navbar-nav">
            <a class="navbar-brand" style="font-family: 'sans-serif'" href="#">Home</a>
        </div>
        <ul class="nav navbar-nav">
            <li class="dropdown" style="font-family: 'sans-serif'">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true"
                   aria-expanded="false">Playlists<span class="caret"></span></a>
                <ul class="dropdown-menu">
                    <li><a th:href="@{/playlist/PLe8D_ZQyQeDV-lEoCmTz6HO9GHe_T7kTN}">Domaći Pop - stare stvari</a></li>
                    <li><a th:href="@{/playlist/PLe8D_ZQyQeDVoSSNX8jop9FCOuA-kGsHm}">Domaći Rok - stare stvari</a></li>
                    <li><a th:href="@{/playlist/PLe8D_ZQyQeDV8GK6Ck3ZM4kFXDkR_j882}">Strani Pop - stare stvari</a></li>
                    <li><a th:href="@{/playlist/PLe8D_ZQyQeDWhiwxi3p8CCy178sCpUsGT}">Strani Rok - stare stvari</a></li>
                </ul>
            </li>
        </ul>
    </div>
</nav>
<div class="demo">
    <div class="container">
        <h3 class="h3" style="font-size: 21px; font-family: 'sans-serif'">Željko's Playlists </h3>
        <div class="row">

            <div class="col-md-12">
                <div id="news-slider2" class="owl-carousel">
                    <div th:each="item : ${items}">
                        <div class="post-slide2">
                            <div class="post-img">
                                <img th:src="${item.snippet.thumbnails.high.url}" style="width: 360px; height: 290px" alt="...">
                            </div>
                            <div class="post-content">
                                <!--<h3 class="post-title"><a href="#">Latest News Post</a></h3>-->
                                <h3 class="post-title" th:text="${item.snippet.title}"
                                    style="font-family: 'sans-serif'"></h3>
                                <ul class="post-bar">
                                    <li style="font-family: 'sans-serif'">Published at <h5 th:text="${item.snippet.publishedAt}"></h5></li>
                                </ul>
                                <a th:href="@{/playlist/{id}(id=${item.id})}" class="read-more">videos</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>